.publish-house-page {
  width: 900px;
  max-width: calc(100vw - 48px);
  margin: 120px auto 48px;

  .publish-card {
    @apply rounded-lg;
  }

  .form-grid {
    @apply grid grid-cols-1 gap-4 md:grid-cols-3;
  }
}
